.title{
    padding-top: 110px;
    margin: 0 auto;
    color: #3EB3B7;
    text-align: center;
    font-family: Lobster;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 189px;
    max-width: 914px;
}
