.mapContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.item1{
    position: absolute;
    top:700px;
    left: 1220px;
    transform: rotate(18.576deg);
}
.item2{
    position: absolute;
    top:1100px;
    right: 1200px;
    transform: rotate(-10.933deg);
}
.item5{
    position: absolute;
    top:20px;
    right: 1100px;
    transform: rotate(-10.933deg);
}
.mapText {
    color: #3EB3B7;
    text-align: center;
    font-family: Lobster;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.map{
    width: 989px;
    height: 524px;
    z-index: 2;
    border: #3EB3B7 4px solid;
}
.textContainer{
    padding-top: 550px;
}

.descriptionContainer{
    margin-top: -520px;
    z-index: 1;
    background-color: #3EB3B7;
    border-radius: 50%;
    width: 930px;
    height: 930px;
    color: #FFF;
    text-align: center;
    font-family: Ledger;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}